* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
  background-color: #333;
}
html
{
  scroll-behavior: smooth;
}
.container {
  width: 85%;
  margin: auto;
  overflow: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.title
{
  text-align: center;
}
.title h2
{
  text-align: center;
  font-size: 50px;
  color: aliceblue;
  margin-bottom: 10px;
}
section
{
    padding: 40px 0px;

}
